*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Sen', sans-serif;
    min-width: 320;
}

header, ul, footer{
    display: flex;
    align-items: center;
}
header, footer{
    justify-content: flex-end;
    background-color: black;
    padding: 4.0% 5%;
}
.bottom_nav li a {
    font-weight: 400;
    font-size: 15px;
}
.logo{
    color: white;
    background-color: black;
    margin-right: auto;
    padding-top: 2px;
}
.logo i, .top_nav i{
    font-size: calc(16px + 6.5vw)
}
li{
    padding: 0 5px;
}
li, a{
   list-style-type: none;
   text-decoration: none;
   color: white;
   font-size: 20px;
   font-weight: 700;
   transition: all 0.3s ease 0s;
}
a:hover{
    color: lightblue;
}
footer{
    flex-wrap: wrap;
    margin-top: 10px;
}
p{
    background:black;
    color: white;
   
    text-align: left;
    flex-basis: 100%
}
.top_nav ul li {
    display: none;
}
.hero{
    height: auto;
    max-width: 100%;
    filter: grayscale(1);
    background: black;

}
.hero_image{
    background: black;
    display: none;
   
}
.project_wrapper {
    background-color: rgba(80,150,146,1);
    display: flex;
}

/* PROJECT NAVIGATION */
#project_href {
    background-color:inherit;
    max-height: 100px;
}
.project_nav {
    background-color:inherit;
    grid-area: project_nav;
    margin-right: 2px;
}
.project_nav ul{
    display: flex;
    flex-direction: column;
    background-color:inherit;
}
.project_nav ul li {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.li_jQuery {
    background-color: rgba(80,150,146,1);
    padding: 0;
}
.a_jQuery{
    background-color:inherit;
    padding: 0 5px 0 5px;
    margin-bottom: -1px;
}
.li_flexbox, .a_flexbox{
    background-color:rgba(194,198,78,1);
}
.li_html, .a_html{
    background-color:rgba(198,78,78,1);
}
.li_react, .a_react{
    background-color:rgba(78,130,198,1);
}

/* PROJECT CONTAINERS */

.project_parent{
    grid-area: project_parent;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgba(80,150,146,1);
    padding-top: 5%;
}
.project {
    text-align: center;
    padding-bottom: 5%;
    margin: 0 5% 0 2%;
    background-color:inherit;
}
.project_img{
    height: 224px;
    width: 224px;
    padding: 0;
    overflow: auto;
    border: 1px solid white;
}
.project_h6{
    font-size: 20px;
    background-color:inherit;
}

/* WRAPPER */
.wrapper{    /* goes around everything */
    display: grid;
    grid-gap: 20px;
    grid-gap: 10px;
    grid-template-areas:
        'about_me aside'
        'contact contact';
    grid-template-columns: 9fr 1fr;
}

/* ASIDE NAVIGATION */
.aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aside_nav {
    margin-right: 5px;
}
.aside_nav ul {
    grid-area: aside_nav;
    display: flex;
    flex-direction: column;
}
.aside_ul li {
    padding: 10px 0;
}

/* ABOUT ME */
.about_me{
    grid-area: about_me;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 10% 0 10px 10px;
    padding: 10px;
    padding-bottom: 25px;
}
h3{
    font-size: 20px;
    padding: 0 0 3px 0;
}
p{
    font-size: 16px;
    font-weight: 400;
}

/* CONTACT FORM */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 6px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 6px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: gray;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: white;
    color: gray;
  }
  
  /* Add a background color and some padding around the form */
.contact {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding-left: 10px;
    margin: 10% 0;
  }
textarea {
      height:50px;
  }
.contact_h3{
    padding: 3px 0 0 5px;
}

@media(min-width: 768px){
    .top_nav ul li {
        display: flex;
    }
    #hamburger {
        display: none;
    }
    i{
        font-size: 1.7rem;
    }
    li, a {
        font-size: 1.0rem;
     }
     .contact,.about_me{
        margin-left: 30px;
    }
    .about_me{
        height: 300px;
    }
    h3{
        font-size: 2rem;
        padding-bottom: 10px;
    }
    p{
        font-size: 1rem;
    }
     .contact{
         margin-top: 50px;
         margin-bottom: 50px;
     }
     .contact_h3{
        padding: 3px 0 10px 5px;
        font-size: 2rem;
    }
     .contact form{
        display:grid;
        grid-gap: 10px;
        grid-template-areas:
        'test message';
     }
    #name, #email, #phone {
        height: 30px;
    }
    .test{
        grid-area: test;
        
        /* display: flex;
        flex-direction: column; */
     }
     #message{
         grid-area: message;
         height: 104px;
     }
     #phone{
         float: bottom;
         margin-top: 80px;
     }
     #email{
         margin-top: 43px;
     }

     #submit{
        width: 90px;

        margin-top: -5px;
     }
}
@media(min-width: 1024px){
    body{
        max-width: 1024px;
        margin: auto;
    }
    img{
        width: 100%;
        height: 450px;
    }
    i{
        font-size: 2rem;
    }
    li, a {
        font-size: 1.25rem;
     }
     p {
         font-size: 1.2rem;
     }
     .contact,.about_me{
         margin-left: 50px;
     }
     .about_me{
        height: 410px;
    }
    h3{
        font-size: 2.5rem;
        padding-bottom: 10px;
    }
     .contact{
        margin-top: 53px;
        margin-bottom: 50px;
    }
    .contact_h3{
       padding: 3px 0 10px 5px;
       font-size: 2.5rem;
   }
     #name, #email, #phone {
        height: 40px;
    }
    #message{
       
        height: 137px;
    }
    #phone{
        
        margin-top: 103px;
    }
    #email{
        margin-top: 55px;
    }

    #submit{
       width: 110px;
        margin-left: 2px;
       margin-top: 3px;
    }
}

/* Min-width: 320px (smaller phone viewpoints)
Min-width: 480px (small devices and most phones)
Min-width: 768px (most tablets)
Min-width: 992px (smaller desktop viewpoints)
Min-width: 1200px (large devices and wide screens) */